:root{
    --colorFuerte: #c51943;
    --colorMenosFuerte: #d73158;
    --colorIntermedio: #e37b96;
    --colorSuave: #eca1b6;
    --colorFlojo: #faeeee;
}
html{
    font-size: 62.5%;
    box-sizing: border-box;
}
*, *:before, *:after {
    box-sizing: inherit;
}
@font-face {
    font-family: Feilla;
    src: url(../font/Feilla.ttf);
}
body{
    font-family: 'Feilla';
    background-color: var(--colorFlojo);
}
.contenedor{
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 120rem;
    margin: 0 auto;
}

.titulo{
    margin: 10rem 0rem;
    font-size: 6rem;
    text-align: center;
    color: var(--colorMenosFuerte);
    padding: 1rem;
}
.botones{
    display: flex;
    max-width: 200rem;
    gap: 7.5rem;
    margin-top: 5rem; 
}
.boton{
    font-size: 4rem;
    border-color: var(--colorFuerte);
    border-width: 0.5rem;
    border-style: solid;
    border-radius: 2.5rem;
    background-color: var(--colorFlojo);
    color: var(--colorFuerte);
    width: 12rem;
    height: 10rem;
    cursor: pointer;
}
.boton_volver{
    font-size: 2rem;
    border-color: var(--colorFuerte);
    border-width: 0.5rem;
    border-style: solid;
    border-radius: 2.5rem;
    background-color: var(--colorFlojo);
    color: var(--colorFuerte);
    width: 20rem;
    height: 10rem;
    margin: 1rem;
    cursor: pointer;
}
nav{
    display: flex;
    justify-content: center;
    margin-bottom: 2rem;
}
.texto_aceptado{
    font-size: 3.5rem;
    text-align: center;
    color: var(--colorMenosFuerte);
    padding: 1rem;
    margin: 0;
    padding-top: 4rem;
}
@media (min-width: 768px) {
    .titulo{
        font-size: 10rem;
    }
    .boton{
        font-size: 5rem;
        width: 15rem;
        height: 10rem;
    }
    nav{
        display: block;
        
    }
    .texto_aceptado{
        padding-top: 8rem;
    }
    
}

.boton:active{
    background-color: var(--colorFuerte);
    color: var(--colorFlojo);
    transition: 0s;
}
.boton_volver:hover{
    background-color: var(--colorFuerte);
    color: var(--colorFlojo);
    transition: 0.5s ease;
}
.boton:hover{
    background-color: var(--colorFuerte);
    color: var(--colorFlojo);
    transition: 0.5s ease;
}
.video{
    display: flex;
    margin: 0 auto;
    align-items: center;
    max-width: 100%;
    height: auto;
    padding: 1rem;
    border-color: var(--colorFlojo);
}
.no_texto{
    font-size: 5rem;
    text-align: center;
    color: var(--colorMenosFuerte);
    padding: 1rem;
    margin: 0;
    padding-top: 5rem;
    line-height: 8rem;
}
.imagen_thader{
    margin: 5rem 0rem;
    size: 10rem;
    border-radius: 1rem;
    box-shadow: 0rem 0.5rem 1rem 0.5rem var(--colorMenosFuerte);
    max-width: 100%;
    height: auto;
}
.imagen_contenedor{
    padding: 1rem;
}
.reorder{
    display: grid;
}
.navegacion{
    grid-row: 2/3;
}
.fix_si{
    margin-top: 7rem;
}
